{% extends 'admin/change_list.html' %}


{% block result_list %}

	{{ cl.formset.management_form }}

	{% regroup cl.formset.forms by instance.group as settings_formsets %}
	{% for formset in settings_formsets %}

		<section class="module">
			<h2>{{ formset.grouper }}</h2>
			<table>
				<tbody>
				{% for form in formset.list %}
					<tr class="{% cycle 'row1' 'row2' %}">
						<td>
							<h4>{{ form.instance.label }}</h4>
							<p>{{ form.instance.help_text }}</p>
							<p>(<em>{{ form.instance.name }}</em>)</p>

							{# Hidden ID field #}
							{{ form.id }}
						</td>
						<td>{{ form.current_value }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</section>

	{% endfor %}

{% endblock result_list %}
